{% extends "base.html" %}

{% block nav %}
{% include "subnav.html" %}
{% endblock nav %}


{% block footer %}
{% include "footer.html" %}
{% endblock footer %}

{% block content %}
<h1 style='margin-top:15%;'>Register As Life Saver</h1>
<div class="py-5 shadow-lg p-3 mb-5 rounded bg-light">

    <div class="card p-4 shadow-sm bg-dark text-white">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
    
            <div class="d-grid">
                <button type="submit" class="hero-btn red-btn">Register</button>
            </div>
        </form>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'donation_list' %}" class="hero-btn red-btn">Blood Bank</a>
    </div>
</div>

{% endblock content %}


