{% extends "base.html" %}

{% block nav %}
{% include "subnav.html" %}
{% endblock nav %}


{% block footer %}
{% include "footer.html" %}
{% endblock footer %}

{% block content %}
<div class="col-md-6 offset-md-3" style="margin-top: 25%; color: black;">
    <h1> 
        Sign In
    </h1>
    <br>
    {% comment %} cros site request folder in token {% endcomment %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %} 
        {% if form.errors %}
        <div class="alert
        alert-warning alert-dismissible fade show" role="alert">
        Your form has errors
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
    
        {% endif %} 
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="User Name" name="username" required>
        </div>
        <br>
        <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" required>
        </div>
        <div class="mb-3">
            <button type='submit' class="hero-btn red-btn">
                Login
            </button>
            <a href="{% url 'register' %}"><strong>don't have an account?</strong></a>
        </div>
    </form>


</div>


{% endblock content %}



