{% extends "base.html" %}

{% block nav %}
{% include "subnav.html" %}
{% endblock nav %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}

{% block content %}
    <h3 style="margin-top:25%; margin-bottom: 5%; color: black;">
        Delete Post
    </h3>
    <p>
        Are you sure to delete {{ post.title }}
    </p>
    <form method="post">
        {% csrf_token %}
        <button class='btn btn-danger' type='submit'>
            Yes, Delete
        </button> 
        <a href="{% url 'blog_detail' post.id %}" class="btn btn-secondary">
            Cancel
        </a>
    </form>



{% endblock content %}




