{% load static %}
<footer class="footer">
    <div class="container1">
        <div class="footer-inner">
            <div class="footer-top">
                <h2>
                    We Create Champions On Right Time &amp Place.
                </h2>
                <h3>
                    📞 +14509000702
                </h3>
                <span class="border-bottoms"></span>
            </div>
        </div>
        <div class="footer-inner">
            
                <img src="{% static 'images/logo.png' %}" alt="this is logo" style="width:30%; margin-left: 300px; border-radius: 10px;">
            
        </div>
    </div>
    <div class="container1">
        <div class="footer-inner">
            <h4>
                Quick links
            </h4>
            <div class="footer-menu">
                <ul>
                    <div style="display: flex;">
                        <ul style="flex: 1; list-style: none; padding-left: 0px;">
                            <li>
                                <a href="{% url 'home' %}">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'about'%}">
                                    AboutUs
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'programs' %}">
                                    Courses
                                </a>
                            </li>
                        </ul>
                        <ul style="flex: 1; list-style: none; padding-left: 0;">
                            <li>
                                <a href="{% url 'blogs'%}">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'donation_list'%}">
                                    BloodBank
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="footer-inner">
            <h4>
                🕒 Collage Timing
            </h4>
            <p>
                 Monday to Saturday: 
            </p>
            <p>
                9:00 AM – 5:00 PM
            </p>
            <p>
                Sunday: Closed.
            </p>
        </div>
        <div class="footer-inner">
            <h4>
                📞 Contact us
            </h4>
            <div class="contact-info">
                <p>
                    Youth Skill & Technical Institute, Bannu,<br> Khyber Pakhtunkhwa
                </p>
                <p>
                    📧 Email:
                    info@youthtech.edu.pk
                
                </p>
                <p>
                    📞 +14509000702
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="devloper">
        <p>
            Powered By:
            <a href="http://www.linkedin.com/in/halima-farman-255244306" target="blank">
                Halima Farman
            </a>
            &amp
            <a href="http://www.linkedin.com/in/niaz-khan-043057366" target="blank">
                Niaz khan
            </a>
        </p> 
    </div>
</footer>