{% load static %}
<section class="sub-header">
    <nav>
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </a>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'programs' %}">
                        Courses
                    </a>
                </li>
                <li>
                    <a href="{% url 'blogs'%}">
                        Blog
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        More <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'donation_list' %}" class="text-dark">
                                Blood Bank
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}" class="text-dark">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'results' %}" class="text-dark">
                                Results
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'verify_result' %}" class="text-dark">
                                Marks Verification
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'verify_certificate' %}" class="text-dark">
                                Certificate Verification
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" class="text-dark">
                                About us
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}" class="text-dark">
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}" class="text-dark">
                                Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        
    </nav>